In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
df=pd.read_csv("gender_submission.csv")

In [3]:
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [4]:
df.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [5]:
df.shape

(418, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [7]:
df.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [8]:
df=pd.read_csv("train.csv")

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
df.shape

(891, 12)

In [12]:
df.info() #shows which column are numeric,text,how mnay non-null values each column has 
#this tels me where missing data exists

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
#summary statistics for numeric columns
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [15]:
import os
os.listdir(".")

['.DS_Store',
 'test.csv',
 'titanic',
 'train.csv',
 '.git',
 'gender_submission.csv',
 'titanic.ipynb']

In [16]:
df.shape

(891, 12)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [18]:
df.isnull().sum().sort_values(ascending=False)
#tells which columns have missing data and how much

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

In [19]:
#i should know what am i predicting so in titanic i am predicting who survived the titanic 
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [20]:
#so i am gonna set y as survived and eveything else becomes input fetaures X
y=df['Survived']
"Survived" in df.columns
"""Do I have the label column already?

If your dataset is train.csv, it contains Survived → you train.

If your dataset is test.csv, it does NOT contain Survived → you predict.

Check:

"Survived" in df.columns


If True → it’s training data, Survived is your target.

If False → it’s test data, you must predict Survived."""

'Do I have the label column already?\n\nIf your dataset is train.csv, it contains Survived → you train.\n\nIf your dataset is test.csv, it does NOT contain Survived → you predict.\n\nCheck:\n\n"Survived" in df.columns\n\n\nIf True → it’s training data, Survived is your target.\n\nIf False → it’s test data, you must predict Survived.'

In [21]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

lets see what is traget and features 
traget is the thing w wnat the model to predict
in ml we know the ans for past data tarining data hence we teach the model by showing the inputs and correct output(target)

Features are info we give the model to help it predict the target

In [22]:
X = df[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
#clues we give the model

In [23]:
#data preprocessing

X.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

decide how to handle missing values

fill the missing values with the median for numeric columns
why median?
less affected by outliers, common practice 

we fill missing values with the most common value for categorical columns

In [24]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2, random_state=42,stratify=y)
"""basically train_test_split function randomly shuffles the data and splits into training and texting keeps rows aligned between x and y 
after spliting we get 
-xtrain features used for training
-ytrain correct ans for traing
-xtest features the model has never seen
ytest correct ans for evaluationn"""

'basically train_test_split function randomly shuffles the data and splits into training and texting keeps rows aligned between x and y \nafter spliting we get \n-xtrain features used for training\n-ytrain correct ans for traing\n-xtest features the model has never seen\nytest correct ans for evaluationn'

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer # handles missing value

In [ ]:
numeric_features = ["Pclass", "Age", "SibSp", "Parch", "Fare"]
categorical_features = ["Sex", "Embarked"]
""" here we making two lists bcs we handle numeric and categorical columns differently """

In [ ]:
numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median"))
])

""" for numeric columns we are just filling missing values with median of that column """

In [ ]:
categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])
"""this pipeline has 2 steps missing values and twxt categories that must become numbers """

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features)
    ]
)
""" combines both the transformers """

In [ ]:
from sklearn.linear_model import LogisticRegression

model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("classifier", LogisticRegression(max_iter=1000))
])
"""here we are creating the final pipeline which first preprocesses the data and then applies logistic regression """

In [ ]:
model.fit(X_train, y_train)
model.predict(X_test)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("Classification Report:")
print(classification_report(y_test, y_pred))    

# accuracy =number of correct predictions/ total number of predictions
# so out of 179 predictions made by the model 83.24% were correct
#confusion matrix shows tp tn fp fn
#classification report shows precision recall f1-score for each class
#precision =tp/(tp+fp) 
#recall = tp/(tp+fn)
#f1-score = 2*(precision*recall)/(precision+recall)
# what is precision and recall?
# Precision is the ratio of correctly predicted positive observations to the total predicted positives.
# Recall (Sensitivity) is the ratio of correctly predicted positive observations to all actual positives.   
# F1 Score is the weighted average of Precision and Recall.

Accuracy: 0.8045
Confusion Matrix:
[[98 12]
 [23 46]]
Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.89      0.85       110
           1       0.79      0.67      0.72        69

    accuracy                           0.80       179
   macro avg       0.80      0.78      0.79       179
weighted avg       0.80      0.80      0.80       179